/* Example media query
@media only screen and (min-width: 500px) {
    body {
        background-color: salmon;
    }
}  */

body {
    background-color: salmon;
}

img {
    display: none;
    max-width: 100%;
}

@media only screen and (min-width: 800px){
    body{
        background-color: darkturquoise;
    }
}

@media only screen and (min-width: 1000px){
    body{
        background-color: orchid;
    }
}

@media only screen and (min-width: 600px){
    img{
        display: block;    
    }
}